@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');


.conteudo-adote-pet{
  width: 15%;
  height: 6vw;
  margin-left: 6vw;
  margin-top: 20vh;
}

/* Change container filters */
.filtros-pet{
  border:1px solid black; 
  margin-bottom: 10px; 
  user-select: none;
}

/* Change the container width images */
.container-info-body{
  display:flex;
  height: 44vw;
}

.infos-pet{
  margin-left:4vw;
  margin-top:9vw;
  width: 70vw;
  display:flex;
}

.cards{
  border:1px solid black;
  border-radius: 10px;
  margin-right: 2vw;
  width: 25vw;
  background-color: rgb(243, 240, 233);
}

.img-pet{
  border:1px solid black;
  border-radius: 10px;
  height: 20vw;
  margin: 2vw;
}

.img-pet img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infos{
  margin-top: -1vw;
  height: 7.5vw;
  max-height: 7.5vw;
  display:flex;
  justify-content: center;
}

.infos-adocao{
  width: 70%;
  text-align: center;
  font-size: 1.5vw;
}


.genero{
  margin-bottom:-0.5vw;
  margin-left: -4vw;
}

.tipo{
  margin-bottom:-0.5vw;
  margin-left: -4vw;
}

.botao-detalhes{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 7vw;
  max-height: 4vw;
  text-align: center;  
}

.botao-detalhes a{
  text-decoration: none;
  color:black;
  border:2px solid #ffcc3b;
  padding:0.4vw;
  border-radius: 2vw;
  width: 9vw;
  font-size: 1vw;
}

.botao-detalhes a:hover{
  transition: 1s;
  color:white;
  border:2px solid black;
  box-shadow: inset 10vw 0 0 0 #ffcc3b;
}
.container-info-body2{
  display:flex;
  height: 44vw;
}

.infos-pet2{
  margin-left:24.8vw;
  margin-top:2vw;
  width: 70vw;
  display:flex;
}

.cards2{
  border:1px solid black;
  border-radius: 10px;
  margin-right: 2vw;
  width: 25vw;
  height: 34.8vw;
  background-color: rgb(243, 240, 233);
}

.img-pet2{
  border:1px solid black;
  border-radius: 10px;
  height: 20vw;
  margin: 2vw;
}

.img-pet2 img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infos2{
  margin-top: -1vw;
  height: 7.5vw;
  max-height: 7.5vw;
  display:flex;
  justify-content: center;
}

.infos-adocao2{
  width: 70%;
  text-align: center;
  font-size: 1.5vw;
}


.genero2{
  margin-bottom:-0.5vw;
  margin-left: -4vw;
}

.tipo2{
  margin-bottom:-0.5vw;
  margin-left: -4vw;
}

.botao-detalhes2{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 7vw;
  max-height: 4vw;
  text-align: center;  
}

.botao-detalhes2 a{
  text-decoration: none;
  color:black;
  border:2px solid #ffcc3b;
  padding:0.4vw;
  border-radius: 2vw;
  width: 9vw;
  font-size: 1vw;
}

.botao-detalhes2 a:hover{
  transition: 1s;
  color:white;
  border:2px solid black;
  box-shadow: inset 10vw 0 0 0 #ffcc3b
}

body{
  background-image: url('../imgs/patas-fundo.png');
}

.pesquisar p {
  width: 14.63vw;
  border:1px solid black;
  text-align: center;
  user-select: none;
  background: #ffd768;
  color:white;
}

.pesquisar p:hover {
  cursor:pointer;
  background: #e6b635;
}