.apadrinhamento {
  user-select: none;
}

.container-apadrinhe {
  margin-top: 5vw;
  user-select: none;
  background: white;
}

.titulo-apadrinhe {
  font-size: 1.4vw;
  text-align: center;
}

.como-apadrinhar {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.texto-apadrinhe {
  text-align: justify;
  width: 80vw;
  display: flex;
  font-size: 1.4vw;
}

.container-filtro {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.filtrar-animais {
  width: 90vw;
}

.filtrar-animais input {
  margin-right: 1vw;
}

.container-busca {
  user-select: none;
  margin-top: 1vw;
  display: flex;
}

.buscar-animais {
  width: 12.7vw;
  margin-left: 4.8vw;
  text-align: center;
}

.busca-nome {
  width: 12.4vw;
  text-align: center;
}

.btn-pesquisar {
  transition: 0.6s;
  background-color: rgb(248, 194, 94);
  border-radius: 8px;
  margin-top: 1vw;
  cursor: pointer;
}

.btn-pesquisar:hover {
  transition: 0.6s;
  background-color: rgb(255, 178, 34);
}

.btn-pesquisar a {
  color: black;
  text-decoration: none;
}

.cards-apadrinhe {
  width: 75vw;
  margin-left: 2vw;
  height: 43vw;
  display: flex;
  justify-content: space-around;
}

.individual-cards {
  width: 23vw;
  border: 1px solid orange;
  border-radius: 10px;
}

.picture-pet {
  margin: 1vw;
  height: 26vw;
}

.picture-pet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.informations-pet {
  background-color: aliceblue;
  height: 14vw;
}

.name-pet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.idade-pet {
  display: flex;
  align-items: center;
  margin-top: 1vw;
}

.more-details {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.button-details {
  text-decoration: none;
  padding: 0.4vw;
  border-radius: 2vw;
  width: 9vw;
  font-size: 1vw;
  cursor: pointer;
}

.button-details a {
  text-decoration: none;
  color: black;
  border: 2px solid #ffcc3b;
  padding: 0.4vw;
  border-radius: 2vw;
  width: 9vw;
  font-size: 1vw;
}

.button-details a:hover {
  transition: 1s;
  color: white;
  border: 2px solid black;
  box-shadow: inset 10vw 0 0 0 #ffcc3b;
}

#nome {
  font-size: 2vw;
  color: orange;
}

#idade {
  font-size: 1.5vw;
}

.idade-genero {
  margin-left: 4vw;
}

#card1 {
  display: block;
}

#card1ocult {
  display: none;
}

#card2 {
  display: block;
}

#card2ocult {
  display: none;
}
